body {
    color: #d5d5d5;
    font-family: iosevka, monospace;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMAQMAAAB7mV5tAAAAAXNSR0IArs4c6QAAAAZQTFRFwq/Iq5uwNDCaAgAAABlJREFUeNpj4AFCGyA8AIRngNAACD8wfAAANYgF6XaUF4oAAAAASUVORK5CYII=");
    margin: 0;
}

main,
section {
    background: #181515;
    padding: 20px 1ch;
    margin: 60px auto;
    width: 65%;
    box-shadow: 1ch 20px #4a4747;
}

h1,
h2 {
    margin: 0 0 20px;
    font-size: 1em;
}

h1::before,
h2::before {
    content: "# ";
    color: #d895ee;
    font-style: italic;
}

h2::before {
    color: #909090;
}

a {
    color: #d895ee;
}

p,
ul {
    padding: 0 2ch;
    margin: 20px 0;
}

ul {
    padding: 0 6ch;
}

ul li::marker {
    content: "* ";
    color: #909090;
}

#chat {
    background: #202020;
    height: 90px;
    overflow: scroll;
    padding: 10px 1ch 0;
}

#chat time {
    color: #a0a0a0;
    margin-right: 1ch;
    padding-left: 1ch;
}

#chat_input {
    all: unset;
    background: #252525;
    padding: 10px 8ch;
    width: 100%;
    box-sizing: border-box;
}

#chat_input::placeholder {
    color: #a0a0a0;
    opacity: unset;
}

footer {
    color: #242020;
    font-size: 0.9em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
