!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width")
    %meta(name="description" content="hiya!")
    %meta(name="theme-color" content="#d895ee")
    %link(rel="stylesheet" href="index.css")
    %title ???

  %body
    %main
      :markdown
        …

        [*Let me out*](/)
